<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="landingpage.component.css">
    <title>LP Natalia Jaramillo</title>
</head>
<body>
    <!--SECCION DE INICIO-->
    <section id="inicio">
        <div class="contenido">
            <header>
                <div class="contenido-header">
                    <h1>/LP/</h1>
                    <nav id="nav" class="">
                        <ul id="links">
                            <li><a href="#inicio" class="seleccionado" (click)="seleccionar(this)">INICIO</a></li>
                            <li><a href="#sobremi" (click)="seleccionar(this)">SOBRE MI</a></li>
                            <li><a href="#servicios" (click)="seleccionar(this)">SERVICIOS</a></li>
                            <li><a href="#portafolio" (click)="seleccionar(this)">PORTAFOLIO</a></li>
                            <li><a href="#contacto" (click)="seleccionar(this)">CONTACTO</a></li>
                        </ul>
                    </nav>

                    <!-- Iconos del menu responsibe -->
                    <div id="icono-nav" (click)="responsiveMenu()">
                        <i class="fa-solid fa-bars"></i>
                    </div>

                    <!-- Iconos de redes sociales -->
                    <div id="redes">
                        <a href="https://linkedin.com/in/njaramillog"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/tutinjg"><i class="fa-brands fa-github"></i></a>
                        <a href="https://www.hackerrank.com/natijago"><i class="fa-brands fa-hackerrank"></i></a>
                    </div>
                </div>
            </header>
            <div class="presentacion">
                <p class="bienvenida">Hello World...</p>
                <h2>Soy <span>Natalia Jaramillo</span>, Ingeniera industrial</h2>
                <p class="descripcion">En esta Landing Page encontrarás una pequeña muestra de quien soy yo, cuales son mis habilidades, en qué sector me desempeño, podrás echar un vistazo a los proyectos que he realizado y también podrás contactarte conmigo si deseas.</p>
                <a href="#portafolio">Ir a portafolio</a>
            </div>
        </div>      
    </section>

    <!--SECCION SOBRE MI-->
    <section id="sobremi">
        <div class="contenedor-foto">
            <img src="/assets/imagenes/foto.jpeg" alt="">
        </div>
        <div class="sobremi">
            <p class="titulo-seccion">Sobre Mi</p>
            <h2>Hola, soy <span>Natalia Jaramillo Gonzalez</span></h2>
            <h3>Ingeniera industrial</h3>
            <p>Cuento con una especialización en gestión de proyectos en curso (44% de los créditos aprobados), tengo conocimientos en Desarrollo FrontEnd con las siguientes herramientas: HTML, CSS, JavaScript, Typescript, GIT, Angular, Python. <br> Mi úlima experiencia laboral es en Data Processing con el uso de tecnologías y lenguajes como: DML, SQL y ETL en BD postgres; AML DB.</p>
            <p><b>Fun Facts </b>Tengo 23 años, me gustan los videojuegos, ver k-dramas y la repostería.</p>
            <a href="/assets/documentos/hv_natalia_jaramilloz.pdf">Descargar CV</a>
        </div>
    </section>

    <!--SECCION SERVICIOS-->
    <section id="servicios">
        <h3 class="titulo-seccion">MIS SERVICIOS</h3>
        <div class="fila">
            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-database"></i></span>
                <h4>Ingeniería de Datos</h4>
                <hr>
                <ul class="servicios-tag">
                    <li>SQL</li>
                    <li>DDL</li>
                    <li>DML</li>
                    <li>ETL</li>
                </ul>
                <p>Generación de scripts en SQL, usando DDL, DML y ETL como herramientas  para crear estructuras, relaciones y entidades, para insertar, actualizar, borrar y hacer selecciones de datos y para realizar la extracción, transformación y cargue de datos.</p>
            </div>
            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-chart-simple"></i></span>
                <h4>Análisis de Datos</h4>
                <hr>
                <ul class="servicios-tag">
                    <li>Procesamiento</li>
                    <li>Reportes</li>
                    <!-- <li>SEO</li> -->
                </ul>
                <p>Procesamiento de información usando herramientas como postgres DB, My SQL, Excel, Python; generación de vistas, cargue de catálogos y registros a sistemas de información o aplicaciones; generación de informes y reportes.</p>
            </div>
            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-code"></i></span>
                <h4>Desarrollo web</h4>
                <hr>
                <ul class="servicios-tag">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JS / TS</li>
                </ul>
                <p>Creación y diseño de páginas web, interfaz de usuario, aplicaciones sencillas; teniendo en cuenta aspectos importantes como la accesibilidad y el diseño responsivo. Utilizando herramientas para el desarrollo frontend.</p>
            </div>
        </div>
        <div class="fila">
            <div class="servicio">
            <span class="icono"><i class="fa-solid fa-code-branch"></i></span>
            <h4>Buenas Prácticas</h4>
            <hr>
            <ul class="servicios-tag">
                <li>GIT</li>
                <li>NG</li>
                <li>VSCODE</li>
            </ul>
            <p>Implementación de buenas prácticas en el desarrollo utilizando herramientas como git para gestionar las versiones del proyecto; Angular como marco de trabajo y Visual Studio Code como IDE para escribir código.</p>
        </div>
        <div class="servicio">
            <span class="icono"><i class="fa-solid fa-list-check"></i></span>
            <h4>Gestión de Proyectos</h4>
            <hr>
            <ul class="servicios-tag">
                <li>Project</li>
                <li>Notion</li>
                <li>Slack</li>
            </ul>
            <p>Planificación de proyectos, identificación de stakeholders, identificación de entradas y salidas, gestión y seguimiento en asignaciones, identificación de riesgos, generación de cronogramas, medición de tiempos y cumplimiento.</p>
        </div>
        <div class="servicio">
            <span class="icono"><i class="fa-solid fa-calendar-days"></i></span>
            <h4>Asistencia Administrativa</h4>
            <hr>
            <ul class="servicios-tag">
                <li>Office</li>
                <li>Scroom</li>
            </ul>
            <p>Levantamiento de información y requerimientos, documentación de procesos, generación de actas e informes, clasificación documental; amplio conocimiento en herramientas de ofimática y metodologías ágiles.</p>
        </div>
    </div>
    </section>

    <!--SECCION HABILIDADES-->
    <div class="contenedor-skills" id="skills">
        <h3>HABILIDADES</h3>
        <div class="skill">
            <div class="info">
                <p><span class="lista"></span>Html & Css</p>
                <span class="porcentaje">90%</span>
            </div>
            <div class="barra">
                <div id="html" class=""></div>
            </div>

            <div class="info">
                <p><span class="lista"></span>Javascript</p>
                <span class="porcentaje">80%</span>
            </div>
            <div class="barra">
                <div id="js" class=""></div>
            </div>

            <div class="info">
                <p><span class="lista"></span>Bases de Datos</p>
                <span class="porcentaje">90%</span>
            </div>
            <div class="barra">
                <div id="bd" class=""></div>
            </div>

            <div class="info">
                <p><span class="lista"></span>Proyectos</p>
                <span class="porcentaje">100%</span>
            </div>
            <div class="barra">
                <div id="proyectos" class=""></div>
            </div>

        </div>
    </div>

    <!--SECCION PORTAFOLIO-->
    <section id="portafolio">
        <h3 class="titulo-seccion">MIS PROYECTOS</h3>
        <div class="fila">
            <div class="proyecto">
                <div class="overlay"></div>
                <img src="/assets/imagenes/proyecto1.jpeg" alt="">
                <div class="info">
                    <h4>Tienda virtual</h4>
                    <p>E-commerce</p>
                </div>
            </div>
            <div class="proyecto">
                <div class="overlay"></div>
                <img src="/assets/imagenes/proyecto1.jpeg" alt="">
                <div class="info">
                    <h4>Diseño de página Login (sign in & sign up)</h4>
                    <p>Página LOGIN</p>
                </div>
            </div>
            <div class="proyecto">
                <div class="overlay"></div>
                <img src="/assets/imagenes/proyecto2.jpeg" alt="">
                <div class="info">
                    <h4>Calcula el área y el perímetro de las figuras</h4>
                    <p>Figuras Geométricas</p>
                </div>
            </div>
            <div class="proyecto">
                <div class="overlay"></div>
                <img src="/assets/imagenes/proyecto3.jpeg" alt="">
                <div class="info">
                    <h4>Selecciona tu criatura mágica favorita</h4>
                    <p>Criaturas Mágicas</p>
                </div>
            </div>
            <div class="proyecto">
                <div class="overlay"></div>
                <img src="/assets/imagenes/proyecto4.jpeg" alt="">
                <div class="info">
                    <h4>Calcula el valor de descuento a tu producto.</h4>
                    <p>Descuentos a productos</p>
                </div>
            </div>
        </div>
    </section>

    <!--SECCION DE CONTACTO-->
    <section id="contacto">
        <h3 class="titulo-seccion">Contáctame Ahora</h3>
        <div class="contenedor-form">
            <form action="">
                <div class="fila-mitad">
                    <input type="text" placeholder="Nombre Completo" class="input-mitad">
                    <input type="text" placeholder="Direccion de Email" class="input-mitad">
                </div>
                <div class="fila">
                    <input type="text" placeholder="Escribe el asunto" class="input-full">
                </div>
                <div class="fila">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Escribe el mensaje" class="input-full"></textarea>
                </div>
                <div class="fila">
                    <input type="submit" value="Enviar Mensaje" class="btn-enviar">
                </div>
            </form>
        </div>
        
    </section>

    <!--SECCION FOOTER-->
    <footer>
        <p>Todos los derechos reservados - NJG 2022</p>
        <div id="redes">
            <a href="https://linkedin.com/in/njaramillog"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/tutinjg"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.hackerrank.com/natijago"><i class="fa-brands fa-hackerrank"></i></a>
        </div>
    </footer>

    <script src="landingpage.component.ts"></script>

</body>

</html>  